<h1>Sign Up</h1>

<%= form_for @hiker do |f| %>
  <% if @hiker.errors.any? %>
    <h2>Form is invalid</h2>
      <ul>
        <!-- error messages still not working
        need to use field_with_errors -->
        <% @hiker.errors.full_messages do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.text_field :name, placeholder: "What's your name?"%>
  </p>

  <p>
    <%= f.text_field :email, placeholder: "Sign up with your email"%>
  </p>

  <p>
    <%= f.password_field :password, placeholder: "Password please" %>
  </p>

  <p>
    <%= f.password_field :password_confirmation, placeholder: "Please confirm your password" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
