<h1>Sign Up</h1>

<%= form_for @hiker do |f| %>
  <% if @hiker.errors.any? %>
  <div class="field_with_errors">
    <h2>Form is invalid</h2>
    <ul>
      <% @hiker.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= label_tag :name %>
  <p><%= f.text_field :name %></p>

  <%= label_tag :email %>
  <p><%= f.text_field :email %></p>

  <%= label_tag :password %>
  <p><%= f.password_field :password %></p>

  <%= label_tag :password_confirmation %>
  <p><%= f.password_field :password_confirmation %></p>

  <p class="button"><%= submit_tag "Sign Up" %></p>
<% end %>
