<h1>Sign Up!</h1>

<%= form_for @hiker do |f| %>
  <% if @hiker.errors.any? %>
    <h2>Form is invalid</h2>
      <ul>
        <% for message in @hiker.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.text_field :name, placeholder: "What's your name?"%>
  </p>
  <p>
    <!-- <%= f.label :email %><br /> -->
    <%= f.text_field :email, placeholder: "Sign up with your email"%>
  </p>
  <p>
    <!-- <%= f.label :password %><br /> -->
    <%= f.password_field :password, placeholder: "Password please" %>
  </p>
  <p>
    <!-- <%= f.label :password_confirmation %><br /> -->
    <%= f.password_field :password_confirmation, placeholder: "Please confirm your password" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
