<h1>Sign Up</h1>

<%= form_for @hiker do |f| %>
  <% if @hiker.errors.any? %>
  <div class="field_with_errors">
    <h2>Form is invalid</h2>
      <ul>
        <% @hiker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.text_field :name, placeholder: "What's your name?"%>
  </p>

  <p>
    <%= f.text_field :email, placeholder: "Sign up with your email"%>
  </p>

  <p>
    <%= f.password_field :password, placeholder: "Password please" %>
  </p>

  <p>
    <%= f.password_field :password_confirmation, placeholder: "Please confirm password" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
