<h1>What's your new trek??</h1>
<%= form_for @trek do |f| %>
  <%= label_tag :name %>
  <%= f.text_field :name %>
  <br><br>

  <%= label_tag :state %> abbreviation
  <%= f.text_field :state %>
  <br><br>

  <%= label_tag :elevation %> in feet
  <%= f.text_field :elevation %>
  <br><br>

  <%= label_tag :level %> of difficulty
  <%= f.text_field :level %>
  <br><br>

  <%= f.submit %> || <%= link_to "Cancel", hiker_adventures_path(current_hiker.id) %>
<% end %>
