<h1>What's your new trek??</h1>
<%= form_for @trek, url: "/hikers/#{current_hiker.id}/treks" do |f| %>
  <%= label_tag :name %>
  <%= f.text_field :name %>
  <br><br>

  <%= label_tag :state %> abbreviation
  <%= f.text_field :state %>
  <br><br>

  <%= label_tag :elevation %> in feet
  <%= f.text_field :elevation %>
  <br><br>

  <%= label_tag :level %> of difficulty
  <%= f.text_field :level %>
  <br><br>

  <%= f.label "Choose existing adventure or create a new adventure"%>
  <br><br>

  <%= f.fields_for :adventure do |adventure| %>
    <%= adventure.text_field :title %>
  <% end %>

  <%= f.submit %>
  <br><br>
  <%= link_to "Cancel", hiker_adventures_path(current_hiker.id) %>
<% end %>
