<div class="col-sm-8 text-right">
  <h1>What's your new trek?</h1>
  <%= form_for(@trek, url: adventure_treks_path, data: {id: @trek.id}) do |f| %>
    <%= label_tag :name %>
    <%= f.text_field :name %>
    <br><br>

    <%= label_tag :state %> abbreviation
    <%= f.text_field :state %>
    <br><br>

    <%= label_tag :elevation %> in feet
    <%= f.text_field :elevation %>
    <br><br>

    <%= label_tag :level %> of difficulty
    <%= f.text_field :level %>
    <br><br>

    <%= f.submit %>
    <br><br>
    <%= link_to "Cancel", adventures_path %>
  <% end %>
</div>
