<h1><%= @trek.name %></h1>

<p>State: <%= @trek.state %></p>
<p>Elevation: <%= @trek.elevation %> feet</p>
<p>Level of Difficulty: <%= @trek.level %></p>
<p>Adventure: <%= @trek.adventure.title %></p>
