<h1><%= @trek.name %></h1>

<p>State: <%= @trek.state %></p>
<p>Elevation: <%= @trek.elevation %></p>
<p>Level of Difficulty: <%= @trek.level %></p>

<p><%= link_to "Adventures Page", adventures_url %></p>
