<!DOCTYPE html>
<html>
  <head>
    <title>HikeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    TODO: make sign-up, sign-in, sign-out
    <br>
    <%= link_to("login with github!", "/auth/github") %>
    <%= yield %>
  </body>
</html>
