<!DOCTYPE html>
<html>
  <head>
    <title>HikeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    TODO: make sign-up, sign-in, sign-out
    <br><br>
    <% if current_hiker %>
      Hello <%= current_hiker.name %>
    <% else %>
      <%= link_to "sign in with github!", "/auth/github" %>
    <% end %>
    <br><br>
    <%= yield %>
  </body>
</html>
