<!DOCTYPE html>
<html>
  <head>
    <title>HikeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Sign In", signin_path %> || <%= link_to "Sign Up", signup_path %>
    <br><br>
    <!-- the conditional isn't showing up once signin w/ gh is successful -->
    <% if current_hiker %>
      Hello <%= current_hiker.email || current_hiker.name %>
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      <%= link_to "sign in with github!", "/auth/github" %>
    <% end %>
    <br><br>
    <%= yield %>
  </body>
</html>
